<%- include('partials/header', { blogRoute: blogRoute || "" }) %>

<main>
  <h1>Contenido</h1>
  <div class="grid">
    <% posts.forEach(post => { %>
    <div class="card">
      <h2>
        <a href="<%= blogRoute || '/blog' %>/<%= post.slug %>"
          ><%= post.title %></a
        >
      </h2>
      <p><%= post.description %></p>
      <div class="tags">
        <% post.tags.forEach(tag => { %>
        <span class="tag"><%= tag %></span>
        <% }) %>
      </div>
    </div>
    <% }) %>
  </div>
</main>

<%- include('partials/footer') %>
